.navbar{
    padding: 0;
}


.support-app-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar-app-div{
    background-color: white;
    height: 100%;
}

.support-container{
    height: 100%;
}
.second-div{
    height: 100%;
}