.navbar{
    padding: 0;
}

.viewMore-div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   
}

.home-container{
    height: 100%;
    width: 100%;
}


.more-details-second-cont{
    // height: 100%;
}