<div class="sidebar">



    <div class="list-div">
        <div class="menu-items-div">
            <div class="menu-items" (click)="handleRouting('/home')">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </mat-icon>
                <a href="/home">Home</a>
            </div>

            <div class="menu-items" (click)="handleRouting('/shop-list')">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        format_list_bulleted
                    </span>
                </mat-icon>
                <a href="/shop-list">Shop List</a>
            </div>

            <div class="menu-items" (click)="handleRouting('/support')">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        support_agent
                    </span>
                </mat-icon>
                <a href="/support">Support</a>
            </div>
        </div>

    </div>

</div>