.sidebar{
    width: 250px;
    background-color: white;
    height: 100vh;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    color: #414a4c;
    top: 0;

}

.menu-items{
    height: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    mat-icon{
        margin-right: 10px;
        margin-left: 30px;
    }
}
.list-div{
    padding: 20px;
}

a{
    text-decoration: none;
    color: #414a4c;

}
.navbar-brand{
    font-size: 25px;
    
}

.menu-items-div{
    margin-top: 80px;
}


@media screen and (max-width: 768px) {
   .sidebar{
    width: 80px;
   }
   

   .menu-items{
    height: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    mat-icon{
        margin-left: 5px;
    }
    a{
        display: none;
    }
}
.list-div{
    padding: 20px;
}

.sidebar-logo .brand-div{
    display: none;
}
.sidebar-logo{
    margin-top: 140px;

}
}
