<div class="sidebar">

    <div class="">
        <div class="sidebar-logo">
            <div class="brand-div">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        storefront
                    </span>
                </mat-icon>

                <span class="navbar-brand mb-0 ml-5 h1">Shop Manager</span>
            </div>

        </div>

        <div class="list-div">
            <div class="menu-items">
                <a href="/home">Home</a>
            </div>
            <div class="menu-items">
                <a href="/shop-list">Shop List</a>
            </div>
            <div class="menu-items">
                <a href="/support">Support</a>
            </div>
        </div>

    </div>