

.form-container{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.form-group{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  
  }

.form-heading{
    margin-top: 40px;
}

.form-heading-container{
    display: flex;
    justify-content: center;
}
.form{
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-control{
    width: 80%;
}

.support-form-div{
    width: 100%;
}

@media screen and (max-width:768px) {
    .form-container{
        width: 260px;
        display: flex;
        justify-content: center;
        margin-top: 12vh;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    } 
    .form{
        margin-bottom: 4vh;
        display: flex;
    }  
}


