.table-container {
    margin-top: 80px;
    width: 64vw;
    overflow-x: auto; 
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mapping-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: whitesmoke;
}

td {
    padding: 10px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Border at the bottom of each row */
}

.table-shop-image {
    width: 70px;
    aspect-ratio: 1/1;
}
.paginator-div{
    margin-top: 20px;
}

.table-div{
    margin-bottom: 100px;
}

.paginator-container{
    width: 64vw;
    background-color: antiquewhite;
}

.paginator-div{
}

// @media screen and (max-width:768px) {
//     .paginator-container{
//         width: 54vw;
//         background-color: antiquewhite;
//     }
// }


