.navbar{
    padding: 0;
}

.dashboard-div{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.home-container{
    height: 100%;
}
.home-second-cont{
    height: 100%;
}

