<div class="container">
    <h1 class="form-heading">Sign In</h1>
    <form #signInForm="ngForm" (ngSubmit)="submitForm(signInForm)">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="phone">Contact</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="formData.phone" placeholder="Contact">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="formData.password" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkbox" name="checkbox" [(ngModel)]="formData.checkbox">
            <label for="checkbox" class="form-check-label">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
